{{#each follow in following}}
<div class="row">
  <section class="column">
    <!-- <div class="large-2 column avatar"><img {{bind-attr src='follow.imagePath'}}></div> -->
    <h5 class="large-8 column friend">{{follow}}</h5>
    <div class="large-2 column follow"><button>Follow</button></div>
    <hr />
  </section>
</div>
{{/each}}