<div class="row">
  <section class="column">
    <div class="large-2 column avatar"><img src="assets/images/avatars/john.jpg"></div>
    <h5 class="large-8 column">John Theodore</h5>
    <div class="large-2 column follow"><button>Follow</button></div>
    <hr />
  </section>
</div>
<div class="row">
  <section class="column">
    <div class="large-2 column avatar"><img src="assets/images/avatars/alain.jpg"></div>
    <h5 class="large-8 column">Alain Johannes</h5>
    <div class="large-2 column follow"><button>Follow</button></div>
    <hr />
  </section>
</div>
<div class="row">
  <section class="column">
    <div class="large-2 column avatar"><img src="assets/images/avatars/troy.jpg"></div>
    <h5 class="large-8 column">Troy Van Leeuwen</h5>
    <div class="large-2 column follow"><button>Follow</button></div>
    <hr />
  </section>
</div>

