{{#each follow in followers}}
<div class="row">
  <section class="column">
    <div class="large-2 column avatar"><img src="assets/images/avatars/john.jpg"></div>
    <h5 class="large-8 column">{{follow.name}}</h5>
    <div class="large-2 column follow"><button>Follow</button></div>
    <hr />
  </section>
</div>
{{/each}}