<div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
              <h5>Josh Homme</h5>
              <p>Making people uncomfortable is one of my hobbies. I'm always hoping that half the people get the joke and the other half are the joke.</p>
              <p class="time">2 minutes ago</p>
            </div>            
            <hr />
          </section>
        </div>
        <div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
            	<h5>Josh Homme</h5>
            	<p>If you wanna be famous, then it's okay if the music is fake, because fame isn't real.</p>
            	<p class="time">5 minutes ago</p>
            </div>
            <hr />
          </section>
        </div>
        <div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
	            <h5>Josh Homme</h5>
	            <p>Music is the only thing I've ever known that doesn't have any rules at all.</p>
	            <p>10 minutes ago</p>
	          </div>
            <hr />
          </section>
        </div>
