{{#each post in posts}}
<div class="row">
  <section class="column">
    <div class="large-2 column avatar"><img {{bind-attr src='imagePath'}}></div>
    <div class="large-10 right">
      <h5>{{name}}</h5>
      <p>{{post.text}}</p>
      <p class="time">{{post.created}}</p>
    </div>            
    <hr />
  </section>
</div>
{{/each}}
