<h4 class="subheading">Create your account</h4>
<form>
  <div class="row">
    <div class="column">
        {{input type="text" value=name placeholder="Enter your name ..." required="required"}}
    </div>
  </div>
  <div class="row">
    <div class="column">
        {{input type="text" value=user placeholder="Enter your username ..." required="required"}}
    </div>
  </div>
  <div class="row">
    <div class="column">
        {{input type="password" value=password placeholder="Enter your password ..." required="required"}}
    </div>
  </div>
  <div class="row button-row">
    <div class="large-3 column">
      <button {{action registerUser}}>Sign up</button>
    </div>
    <div class="large-9 column text-right medium-only-text-left small-only-text-left end">
      <span class="links">{{#link-to 'register.login'}}Login{{/link-to}}</span>
    </div>
  </div>
</form>
