<div class="profile dashboard">
  <header>
  	{{#link-to 'dashboard'}}<img class='home' src='assets/images/fi-home.svg'><span class="home">Home</span>{{/link-to}}
  	<div class="logged-in"><img class="avatar" {{bind-attr src='imagePath'}}>Josh Homme{{user.name}}</div>
  </header>
  <div class="large-6 column large-centered container">
    <div class="row">    
      <section class="12-large column">      	
        <h3 class="new-post">
        	This has got more jiggle than the jello factory. I’s got more hooks than a bait shop. We put the lean in clean and the ice in nice.
        </h3>
      </section>
     </div>
     <div class="row">
      <div class="large-6 column">
        <p class="characters">131 characters</p>
      </div>
      <div class="large-6 column end">
        <button class="right publish">Publish</button>
      </div>
      <hr />
      <section class="text-center profile-nav">
        <h3>Latest Posts</h3>
      </section>
      <hr />
      <section class="activity">
        <div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
              <h5>Josh Homme</h5>
              <p>Making people uncomfortable is one of my hobbies. I'm always hoping that half the people get the joke and the other half are the joke.</p>
              <p class="time">2 minutes ago</p>
            </div>            
            <hr />
          </section>
        </div>
        <div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
            	<h5>Josh Homme</h5>
            	<p>If you wanna be famous, then it's okay if the music is fake, because fame isn't real.</p>
            	<p class="time">5 minutes ago</p>
            </div>
            <hr />
          </section>
        </div>
        <div class="row">
          <section class="column">
            <div class="large-2 column avatar"><img src="assets/images/avatars/josh.jpg"></div>
            <div class="large-10 right">
	            <h5>Josh Homme</h5>
	            <p>Music is the only thing I've ever known that doesn't have any rules at all.</p>
	            <p>10 minutes ago</p>
	          </div>
            <hr />
          </section>
        </div>
      </div>
    </section>
  </div>
</div>
