<div class="login">
  <div class="row container">
    <div class="row right">
      <img class="column right postmark" src="assets/images/postmark.png" alt="Telegram postmark">
    </div>
    <div class="row">   
      <div class="large-6 medium-6 column box left">
        <img class="logo column medium-10 medium-centered small-centered" src="assets/images/telegram-logo.png" alt="Telegram logo" title="Telegram: know what's happening!">
      </div>
      <div class="large-6 medium-6 column">
        <div class="large-10 medium-10 small-10 column large-centered medium-centered small-centered">
	         {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
